/* TODO: Add sitewide styles */
h1{
    font-size: 52px;
    animation: title 10s infinite;
}


@keyframes titleGlow {
    0% {
      text-shadow: 10px 10px 10px rgba(128, 153, 15, 0.863), 10px 10px 40px rgba(129, 131, 5, 0.986);
    }
    100% {
      text-shadow: 10 10 35px rgba(249, 253, 28, 0.9), 10 10 60px rgb(255, 188, 4), 0 0 45px rgba(13, 250, 159, 0.5);
    }
  }



  .title {
    font-family: 'Cinzel Decorative', cursive, serif;
    text-align: center;
  font-size: 3.5rem;
  margin: 1rem 0;
  color: #a0e91a50;
  border-bottom: 4px dotted black;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: font-size 0.3s ease;
  animation: titleGlow .5s infinite alternate;
}

p{
  color: rgb(142, 235, 173);
  font-size: larger;
}

h2{
  color: rgb(250, 5, 217);
  text-align: center;
  justify-self: center;
  font-size: 2.8rem;
  margin: 1rem 0;
}

h3{
  color: rgb(3, 255, 24);
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}
