/* TODO: Add sitewide styles */
h1{
    font-size: 52px;
    animation: title 10s infinite;
}


@keyframes titleGlow {
    0% {
      text-shadow: 10px 10px 10px #19f3628c, 10px 10px 40px #9bce0e67;;
    }
    100% {
      text-shadow: 10 10 35px rgb(249, 253, 28), 10 10 60px rgb(172, 190, 9), 0 0 45px rgba(13, 250, 159, 0.5);
    }
  }



  .title {
    font-family: 'Cinzel Decorative', cursive, serif;
    text-align: center;
  font-size: 3.5rem;
  margin: 1rem 0;
  color: #1b241e6b;
  /* color: #59e0866b; */
  border-bottom: 4px dotted black;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
  position: relative;
  transition: font-size 0.3s ease;
  animation: titleGlow .9s infinite alternate;
}
.subtitle {
  font-family: 'Cinzel Decorative', cursive, serif;
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
  color: #1b241e6b;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.5);
}
p{
  color: rgba(62, 206, 216, 0.562);
  font-size: 22px;
  font-weight: bolder;
  font-style: italic;}

h2{
  color: rgba(49, 126, 173, 0.678);
  text-align: center;
  justify-self: center;
  font-size: 2.8rem;
  margin: 1rem 0;
}

h3{
  color: rgba(96, 7, 212, 0.541);
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}


li {
  color: rgba(62, 206, 216, 0.562);
}
